
{% extends "layout.html" %}
{% load filters %}

{% block title %} Test page {% endblock %}

{% block content  %}
    <h1 class="title"> Page of my web </h1>
    <p> {{ "created by Diego Guzmán ñññ" | cut:"ñ" }} </h1>

    <p>
        {{text|default:"There´s nothing here"}}
    </p>
    
    <p>
        {{list|last}}
    </p>

    <p>
        {{list|join:", "}}
    </p>

    <p>
        {{list|length}}
    </p>

    <p>
        {{list|random}}
    </p>

    <p>
        {{"test text"|length}}
    </p>

    <p>
        {{"test text"|upper}}
    </p>

    <p>
        {{"TEST TEXT"|lower}}
    </p>

    <p>
        {{"<h1>Text</h1> <strong>Test</strong>"|striptags|wordcount}}
    </p>

    <p>
        {{"Diego Guzmán"|greetings|safe}}
    </p>
{% endblock  %}